html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body {
    height: 600px;
    width: 900px;
    margin: auto;
}

#center {
    height: 100%;
    width: 100%;
    background-color: black;
}
